<div *ngIf="user" class="container-lg mt-5">
  <h1 class="text-lg-left">Welcome back {{user.name}}</h1>
  <div class="text-black-50">Email: {{user.email}}</div>
  <div class="text-black-50">Company: {{user.company}}</div>
  <div class="container-md mt-3">
    <div class="btn-group-sm mt-3">
      <button type="button" class="btn btn-outline-primary m-1" (click)="interests.toggle()">View Interests</button>
      <button type="button" class="btn btn-outline-primary m-1" (click)="add.toggle()">Add Interest</button>
      <button *ngIf="user && user.isManager()" type="button" class="btn btn-outline-primary m-1" (click)="openFind(); find.toggle()">
        Find Users</button>
    </div>
    <div #find="ngbCollapse" [(ngbCollapse)]="hideFind" class="m-1">
      <div class="card" *ngIf="user && user.isManager()">
        <div class="card-body">
          <label for="language">Language</label>
          <select [(ngModel)]="searchLang" id="language" class="form-control-sm m-1 p-1" required>
            <option *ngFor="let l of languages" [value]="l">{{l}}</option>
          </select>
          <button class="btn btn-outline-primary m-1" (click)="search()">Search</button>
        </div>
      </div>
    </div>
    <div #add="ngbCollapse" [(ngbCollapse)]="hideAdd" class="m-1">
      <div class="card">
        <div class="card-body">
          <app-user-interest-form (cancelled)="add.toggle()" (newInterest)="addNewInterest($event); add.toggle()"
                                  [userId]="user.id" [levels]="levels">
          </app-user-interest-form>
        </div>
      </div>
    </div>
    <div #interests="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="m-1">
      <div class="card" *ngFor="let i of user.interest;">
        <div class="card-body">
          <app-user-interests (deleted)="deleted($event)" [interest]="i" [userId]="user.id" [levels]="levels">
          </app-user-interests>
        </div>
      </div>
    </div>
  </div>
</div>

